
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item {
  font-size: 14px;
}
.verde {
  color: green;
}
.bg-img {
  background-image: url("../assets/img/ba1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 120px 40px;
  text-align: right;
  opacity: 0.9;
}
.rgba{
    background-color: rgba(0,0,0,0.5);
    height: inherit;
}

.btn-outline {
  color: white;
  border: white 1px solid;
}

.right {
  float: right;
  height: inherit;
}

.skill{
    font-size: small;
    font-weight: 700;
    padding: 1px 8px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.skill:hover{
    color:black;
    cursor: none;
}

.javascript{
    background-color: yellow;
    color:black;
}
.javascript:hover{
    color:white;
}

.react{
    background-color:rgb(1, 204, 235);
}
.startup{
    background-color:rgba(255, 0, 0, 0.9);
}

.bussines{
    background-color:rgba(0, 0, 0, 0.4);
}
